apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "hami-dra-driver.fullname" . }}-clusterrole
  labels:
    {{- include "hami-dra-driver.labels" . | nindent 4 }}
rules:
- apiGroups:
  - resource.k8s.io
  resources:
  - resourceclaims
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - resource.k8s.io
  resources:
  - resourceclaimtemplates
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
- apiGroups:
  - resource.k8s.io
  resources:
  - resourceslices
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
- apiGroups:
  - resource.k8s.io
  resources:
  - resourceclaims/status
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
  - update
